let mapleader = " "

set nocompatible
set ideaput
set clipboard+=unnamed
set number
set relativenumber


nnoremap <leader>qa :qa<CR>
nnoremap <leader>qq :q!<CR>
nnoremap <leader>wa :wa<CR>
nnoremap <leader>ww :w<CR>
nnoremap <Tab> :bnext<CR>
nnoremap <S-Tab> :bprevious<CR>
